<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>Número del modelo:<br />{{numero}}</h1>
  <p>
    <!-- number:'1.2-2':'es-ES' -->
    <!-- currency:cheatSymbol:'':'4.2-2':'es-ES' -->
    <!-- (\d{1,3}\.)?(\d{1,3}\.)?\d{1,3}(\,\d)? -->
    <input 
      name="numero"
      type="number"
      [value]="numero | thousands"
      (change)="cambioCampo($event.target.value)"
       />
    
  </p>
  <p>
  <!-- <h2>{{numero | number:'1.2-2':'es-ES'}}</h2> -->
  <!-- <h2>Currency: {{numero | currency:cheatSymbol:'':'4.2-2':'es-ES'}}</h2> -->
  <h2>ThousandsPipe: {{numero | thousands}}</h2>
  <hr>
  <app-angular2-text-mask></app-angular2-text-mask>
  <hr>
  <app-ngx-mask></app-ngx-mask>
</div>


