<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <p>
    <!-- number:'1.2-2':'es-ES' -->
    <!-- currency:cheatSymbol:'':'4.2-2':'es-ES' -->
    <input name="numero"
      #numerico
      [value]="numero | thousands"
      (change)="cambioCampo($event.target.value)"
      type="text" />
  </p>
  <p>
  <!-- <h2>{{numero | number:'1.2-2':'es-ES'}}</h2> -->
  <!-- <h2>Currency: {{numero | currency:cheatSymbol:'':'4.2-2':'es-ES'}}</h2> -->
  <h2>ThousandsPipe: {{numero | thousands}}</h2>
</div>


